# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# Sensitive vars
*.tfvars
*.tfvars.json

# Local envs / logs
*.log
crash.log

# Ansible
.vault_pass
secrets.yml
ansible-proj/collections/
.ansible/
